#header {
    height: 145px;
}

#header>.info {
    height: 100px;
    width: 1000px;
    margin: 0 auto;
}

#nav {
    width: 100%;
    background: #669999;
    height: 45px;
}

.a-wrapper {
    width: 1000px;
    margin: 0 auto;
}

.nav-a {
    color: #ffffff;
    font-size: 16px;
    padding: 0 2%;
    text-align: center;
    display: block;
    height: 45px;
    line-height: 45px;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

.info-content {
    margin: 10px 0;
}

.info-content>.title {
    height: 70px;
}

.img-block {
    height: 260px;
    width: 242px;
    border: 1px solid #ddd;
    margin: 3px;
}

.img-block>.info {
    height: 38px;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
}

.img-wrapper {
    width: 242px;
    height: 222px;
    overflow: hidden;
}